import React, { Component } from 'react';
import './App.css';
import AppNavbar from './AppNavbar';
import { Link } from 'react-router-dom';
import { Button, Container } from 'reactstrap';

class Home extends Component {
    render() {
        return (
            <div>
                <AppNavbar/>
                <Container fluid>
#foreach ($entity in $selectedEntities)
#set ( $LCentityName = $fn.uncapitalize($entity.name) )
#if ($foreach.count < $selectedEntities.size())
					<Button color="link"><Link to="/${LCentityName}">${entity.name}s</Link></Button>
#else
					<Button color="link"><Link to="/${LCentityName}">${entity.name}s</Link></Button>
#end
#end						
                </Container>
            </div>
        );
    }
}

export default Home;